<li>
    {{burger_name}}

    {{#if devoured}}
    <button class="change-devour btn btn-primary" data-id="{{id}}" data-newdevour="{{devoured}}">
        Devour Time!
        {{!-- {{#if devoured}}{{/if}} --}}

    </button>
    {{/if}}

    <button class="delete-burger btn btn-primary" data-id="{{this.id}}">DELETE</button>
</li>