<li>
    {{burger_name}}

{{#if devoured}}
    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
       Devour Time!
    </button>
    {{/if}}

    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>